In [1]:
num = 24

In [2]:
def even_odd(num):
    if num%2 == 0:
        print("the number is even")
    else :
        print("the num is odd")

In [3]:
even_odd(45)

the num is odd

In [4]:
def hello_world():
    print("hellow welcome")

In [5]:
hello_world()

hellow welcome

In [6]:
# return
def hellow_world():
    return "hii babe"

In [7]:
val = hellow_world()

In [8]:
print(val)

hii babe

In [12]:
def add_number(num1, num2):
    return num1+num2

In [13]:
val = add_number(24,48)

In [14]:
val

72

In [15]:
#positional arguement : 
def hello(name, age = 39):
    print("My name is {} and age is {}".format(name,age))

In [16]:
hello('krish')

My name is krish and age is 39

In [17]:
##kwargs are keyword arguements and args are posiional arguements
def hello(*args, **kwargs):
    print(args)
    print(kwargs)

In [18]:
hello("krish", "naik", age=29,dob=1990)

('krish', 'naik')
{'age': 29, 'dob': 1990}

In [19]:
lst=['krish','naik']
dict_args={'age' : 29, 'dob': 1990}

hello(*lst,**dict_args)

('krish', 'naik')
{'age': 29, 'dob': 1990}

In [20]:
lst=[1,2,3,4,5,6,7]

In [21]:
def evenoddsum(lst):
    even_sum=0
    odd_sum=0
    for i in lst:
        if i%2==0:
            even_sum = even_sum+i
        else:
            odd_sum = odd_sum+i
    return even_sum, odd_sum

In [22]:
evenoddsum(lst)

(12, 16)

# Lambda Function

In [23]:
def addition(a,b):
    return a+b

In [24]:
addition(9,4)

13

In [25]:
addition= lambda a,b:a+b

In [26]:
addition(9,5)

14

In [29]:
even = lambda a:a%2==0

In [30]:
even(34)

True

In [31]:
def addition(x,y,z):
    return x+y+z

In [34]:
addition(2,3,5)

10

# Map Function

In [35]:
def even_odd(num):
    if num%2==0:
        return "the number {} is even".format(num)
    else:
        return "the num {} is odd".format(num)

In [36]:
even_odd(24)

'the number 24 is even'

In [38]:
lst=[1,2,3,4,5,6,7,8,4,44,566]

In [39]:
map(even_odd,lst)

In [40]:
list(map(even_odd,lst))

['the num 1 is odd',
 'the number 2 is even',
 'the num 3 is odd',
 'the number 4 is even',
 'the num 5 is odd',
 'the number 6 is even',
 'the num 7 is odd',
 'the number 8 is even',
 'the number 4 is even',
 'the number 44 is even',
 'the number 566 is even']

# Filter function

In [45]:
def even(num):
    if num%2==0:
        return True

In [46]:
lst = [1,2,3,4,6,78,65,45]

In [47]:
list(filter(even,lst))

[2, 4, 6, 78]

In [48]:
list(filter(lambda num:num%2==0,lst))

[2, 4, 6, 78]

In [50]:
list(map(lambda num:num%2==0,lst))

[False, True, False, True, True, True, False, False]